[project]
name = "rapidstats"
version = "0.0.5"
description = "A library that implements fast statistical routines"
license = { file = "LICENSE" }
readme = "README.md"
requires-python = ">=3.8"
authors = [{ name = "Cangyuan Li", email = "everest229@gmail.com" }]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
]
dependencies = [
    "polars==0.20.30",
    "scipy==1.13.1",
    "tqdm==4.66.4",
    "pyarrow==16.1.0",
]

[project.urls]
"Homepage" = "https://github.com/CangyuanLi/rapidstats"
"Source" = "https://github.com/CangyuanLi/rapidstats"
"Bug Reports" = "https://github.com/CangyuanLi/rapidstats/issues"

[build-system]
requires = ["maturin>=1.5,<2.0"]
build-backend = "maturin"

[tool.maturin]
features = ["pyo3/extension-module"]
python-source = "python"
module-name = "rapidstats._rustystats"

[tool.pytest.ini_options]
testpaths = ["tests"]

[tool.mypy]
mypy_path = "src"
ignore_missing_imports = true

[tool.isort]
profile = "black"

[tool.ruff.per-file-ignores]
"__init__.py" = ["E402", "F401"]
